@charset "UTF-8";

@font-face {
    font-family: hawthorne;
    src: url(../fontes/hawthorne_vintage/Hawthorne\ Vintage.otf);
}

@keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 1;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-in-imagem {
    from {
      transform: translateX(-100%);
      opacity: 1;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

:root{
    --cor1:#262729;
    --cor2:#36373B;
    --cor3:#d8cfbc;
    --cor4:#fffbf4;
    --cor5:#5DA71A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /*background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;*/
}

header{
    height: 10vh;
    background-color: var(--cor1);
    border: 1px solid var(--cor2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--cor4);
    clip-path: inset(0 0 0 0);
}

header img{
    height: 50px;
    padding-left: 50px;
}

header a{
    color: var(--cor3);
}

.logo{
    display: flex;
    align-items: center;
    font-family: hawthorne;
    font-size: 30px;
    color: var(--cor3);
}

.logo p{
    padding: 10px;
    margin-top: 10px;
}

.criar-conta{
    padding-right: 50px;
    font-size: 18px;
}

main{
    height: 90vh;
    width: 100vw;
    background-color: var(--cor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.imagem{
    background-image: url(../imagens/planta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 90vh;
    width: 45%;
    box-shadow: 0px 0px 100px 0px #5ea71a39;
    animation: slide-in-imagem 1.5s ease-out;
}

.espacologin{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login{
    background-color: var(--cor1);
    border: 3px solid var(--cor2);
    height: 500px;
    width: 450px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /*animation: slide-in 1.5s ease-out forwards;
    transform: translateX(-100%);
    overflow: hidden;
    clip-path: inset(0 0 0 0);*/
}

h1{
    color: var(--cor3);
    font-size: 4em;
    text-align: left;
    width: 300px;
    font-family: hawthorne;
}

.labelcaixas{
    margin-left: -10px;
    color: var(--cor3);
    font-size: 16px;
}

.caixas{
    height: 50px;
    width: 300px;
    margin: 1px;
    margin-bottom: 3px;
    border: 0px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 3px solid #36373B;
    text-align: center;
    color: #fffbf4;
}

input:active, input:focus{
    outline: none;
    border: 1px solid var(--cor3);
}

button{
    color: #fffbf4;
    font-size: 14px;
    font-weight: bold;
}

.botaoentrar{
    border: 3px solid var(--cor2);
    margin-bottom: 20px;
    margin-top: 20px;
}

.botaoentrar:hover{
    background-color:#202123;
}

label{
    color: var(--cor4);
    padding: 10px;
    /*font-family: hawthorne;*/
}

.labelesqueci, .labellembrar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor4);
    font-size: 18px;
}

.labelesqueci a{
    color: var(--cor3);
}

footer{
    background-color: var(--cor1);
    border: 1px solid var(--cor2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor2);
    clip-path: inset(0 0 0 0);
    text-align: center;
    padding: 30px;
    color: var(--cor4);
    font-size: 16px;
}

footer a{
    color: var(--cor3);
}

a:hover{
    text-decoration: none;
}
